In [2]:
import requests as req
import json
import pandas as pd
import datetime

# API Call

In [13]:
# Using CryptoCompare
base_url = 'https://min-api.cryptocompare.com/data/histoday?'

# Number of points to graph
num_points = 510

# Number of days to average together (so here it averages over three days)
aggregate = 3

# Unix timestamp for May 1, 2017
time = 1493596800

# Crypto code
cc = 'LTC'
url = '%sfsym=%s&tsym=USD&limit=%s&aggregate=%s&toTs=%s&e=CCCAGG'%(base_url,cc,str(num_points),str(aggregate),str(time))
resp = req.get(url)
data = resp.json()

# DataFrame Generation

In [14]:
data_df = pd.DataFrame(columns=['Date','High','Low','Open','Close'])
for i in range(len(data['Data'])):
    date = datetime.datetime.fromtimestamp(int(data['Data'][i]['time'])).strftime('%Y-%m-%d')
    data_df.set_value(index=i,col='Date',value=date)
    data_df.set_value(index=i,col='High',value=data['Data'][i]['high'])
    data_df.set_value(index=i,col='Low',value=data['Data'][i]['low'])
    data_df.set_value(index=i,col='Open',value=data['Data'][i]['open'])
    data_df.set_value(index=i,col='Close',value=data['Data'][i]['close'])
data_df.head()

         Date High Low Open Close
0  2013-02-19    0   0    0     0
1  2013-02-22    0   0    0     0
2  2013-02-25    0   0    0     0
3  2013-02-28    0   0    0     0
4  2013-03-03    0   0    0     0

In [15]:
data_df['Date'][len(data_df['Date'])-1]

'2017-04-29'

In [16]:
data_df.to_csv('historical_data_pre_may/%s_data_%s.csv'%(cc,data_df['Date'][len(data_df['Date'])-1]),index=False)

In [17]:
resp